
@{
    ViewData["Title"] = "Home Index";
}


<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Code Challenge
            </h1>
            <h2 class="subtitle">
                Employee Management
            </h2>
        </div>
    </div>
</section>

